.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 98vh;
    width: 100%;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container{
    width: 90%;
    height: 100px;
}
.btn{
    width:calc(100% / 9);
    text-align: center;
    cursor: pointer;
    margin: 10px;
    background:#4a4a4ac2;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    transition: all 0.3s;

}
.btn h2{
    color: aliceblue;
}
.playing{
    border: 1px solid rgb(239, 255, 13);
    box-shadow: 0px 0px 8px rgb(244 248 21), 0px 0px 14px rgb(253 255 168);
    transform: scale(1.1);
    transition: all 0.3s;
}